<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creativity Suite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="menu-body">
    <div class="container menu-container">
        <h1>🎨 Creativity Suite</h1>
        <p>A reliable tool for Generating high-quality vector and ASCII art and more.</p>
        <div class="tool-grid">
            <a href="/svg-retriever" class="tool-card">
                <h2>SVG Art Generator</h2>
            </a>
            <a href="/ascii-retriever" class="tool-card">
                <h2>ASCII Art Generator</h2>
            </a>
        </div>
    </div>
</body>
</html>

